@import "tailwindcss";

:root {
  /* Groq theme colors */
  --groq-orange: #F55036;
  --groq-bg: #ffffff;
  --groq-bg-hover: #f7d8d3;
  --groq-fg: rgb(5, 5, 5);
  
  /* Font variables */
  --font-montserrat-sans: 'Montserrat', sans-serif;
  --font-montserrat-mono: 'Montserrat Mono', monospace;
}

.dark {
  /* Groq theme colors */
  --groq-bg: rgb(5, 5, 5);
  --groq-fg: #ffffff;
  --groq-bg-hover: #2a2a2a;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat-sans);
  --font-mono: var(--font-montserrat-mono);
}

body {
  background: var(--groq-bg);
  color: var(--groq-fg);
  font-family: var(--font-montserrat-sans);
}

/* Add these new styles for the navbar */
.navbar-title {
  font-size: 2rem;
  font-weight: 900;
}

.navbar-link {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 0.75rem !important;
}

/* Add navbar border style */
.navbar-border {
  border-bottom: 1px solid #e0e0e0;
}

.dark .navbar-border {
  border-bottom: 1px solid #333333;
}
